<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.1-alpha/dist/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<title>Restaurant Express</title>
</head>

<body>
	<header>
		<nav>
			<div class="nav-wrapper amber darken-2">
				<a class="brand-logo left yellow-text margin-left-20"><strong>Restaurant Express</strong></a>
				
        <a class='dropdown-trigger right margin-right-30' href='#' data-target='dropdown1'><i class="material-icons yellow-text right">dehaze</i></a>
        
        {{#if logged_in}}
        <ul id='dropdown1' class='dropdown-content'>
          <li><a  class="black-text" id="logout">Logout</a></li>
        </ul>
        {{else}}
        <ul id='dropdown1' class='dropdown-content'>
          <li><a  class="black-text" href="/createAccount">Create Account</a></li>
          <li><a  class="black-text" href="/login">Login</a></li>
        </ul>
        {{/if}}
			</div>
		</nav>
	</header>
  
	<main>
		{{{body}}}

	</main>

	<footer class="page-footer amber darken-2">
		<nav class="amber darken-2">
			<div class="">
				{{#if logged_in}}
				<a href="#" class="brand-logo left"><i class="material-icons black-text">arrow_upward</i></a>
				{{/if}}
				<ul id="" class="right">
					<li><button class="waves-effect waves-dark btn yellow accent-2 black-text margin-right-30">About Us</button></li>
					<li><button class="waves-effect waves-dark btn yellow accent-2 black-text margin-right-30">Careers</button></li>
					<li><button class="waves-effect waves-dark btn yellow accent-2 black-text margin-right-30">Contact Us</button></li>
				</ul>
			</div>
		</nav>
	</footer>

	{{#if logged_in}}
	<script src="/js/logout.js"></script>
	{{/if}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.1-alpha/dist/js/materialize.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>