<div class="row">
  <form class="create-account-form col s12">

    <div class="row">
    <div class="col s1"></div>
    <div class="input-field col s4">
      <input id="first-name" type="text" class="validate">
      <label for="first_name">First Name</label>
    </div>
    <div class="col s2"></div>
    <div class="input-field col s4">
      <input id="last-name" type="text" class="validate">
      <label for="last_name">Last Name</label>
    </div>
    <div class="col s1"></div>
    </div>

    <div class="row">
    <div class="col s1"></div>
    <div class="input-field col s4">
      <input id="username" type="text" class="validate">
      <label for="username">Username</label>
    </div>
    <div class="col s2"></div>
    <div class="input-field col s4">
      <input id="password" type="password" class="validate">
      <label for="password">Password</label>
    </div>
    <div class="col s1"></div>
    </div>

    <div class="row">
    <div class="col s1"></div>
    <div class="input-field col s4">
      <input id="email" type="email" class="validate">
      <label for="email">Email</label>
    </div>
    <div class="row s2"></div>
    <div class="row s3">
      <button id="save" class="btn waves-effect waves-light" type="submit" name="action">Save
      </button>
    </div>
    <div class="col s1">
      <a href="./login.handlebars">Go to Login</a>
    </div>
    <div class="col s1"></div>
    </div>
  </form>
</div>

<script src="../Public/js/createAccount.js"></script>