<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.1-alpha/dist/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/style.css"/>
	<title>Restaurant Express</title>
</head>

<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="./landing.html" class="brand-logo left margin-left-60">Restaurant Express</a>
				<img src="../images/Planet_express.png" class="brand-logo left opacity-80" width="50">
				<ul id="nav-mobile" class="right">
					<li><a class="" href="./createUser.html">Create Account</a></li>
				</ul>
			</div>
		</nav>
	</header>
  


	<script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.1-alpha/dist/js/materialize.min.js"></script>
  <script src="./public/js/script.js"></script>
</body>
</html>