<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.1-alpha/dist/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css"/>
	<title>Restaurant Express</title>
</head>

<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="./layout/main.html" class="brand-logo left margin-left-60">Restaurant Express</a>
				<img src="../images/Planet_express.png" class="brand-logo left opacity-80" width="50">
				<ul id="nav-mobile" class="right">
					<li><a href="./layout/main.html"><button class="btn" id="Login">Logout</button></a></li>
				</ul>
			</div>
		</nav>
	</header>
  
	<main>
  <div class="card-container">
    <div class="card hoverable margin-10">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="../images/beverages.jpg">
      </div>
      <div class="card-content light-blue lighten-4">
        <span class="card-title activator grey-text text-darken-4"><strong>Thirst Quenchers</strong></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Beverages<i class="material-icons right">close</i></span>
        
        <table class="highlight">
          <tbody>
            
            <tr>
              <td>Bottled Water</td>
              <!-- <td>The classic refreshing drink to quench even the thirstiest earthling</td> if we have time add tool tip with item description-->
              <td>$1.50</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

            <tr>
              <td>Iced Tea</td>
              <td>$3.00</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

            <tr>
              <td>Soda</td>
              <td>$2.50</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

            <tr>
              <td>Orange Juice</td>
              <td>$2.50</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

          </tbody>
        </table>
      
      </div>
    </div>

    <div class="card hoverable margin-10">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="../images/appetizers.jpg">
      </div>
      <div class="card-content yellow lighten-4">
        <span class="card-title activator grey-text text-darken-4"><strong>Snacks</strong></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Appetizers<i class="material-icons right">close</i></span>
        
        <table class="highlight">
          <tbody>
            
            <tr>
              <td>Bottled Water</td>
              <!-- <td>The classic refreshing drink to quench even the thirstiest earthling</td> if we have time add tool tip with item description-->
              <td>$1.50</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

            <tr>
              <td>Iced Tea</td>
              <td>$3.00</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

            <tr>
              <td>Soda</td>
              <td>$2.50</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

            <tr>
              <td>Orange Juice</td>
              <td>$2.50</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="card hoverable margin-10">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="../images/sandwiches.jpg">
      </div>
      <div class="card-content brown lighten-4">
        <span class="card-title activator grey-text text-darken-4"><strong>Ergonomic Handhelds</strong></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Sandwiches<i class="material-icons right">close</i></span>
        
        <table class="highlight">
          <tbody>
            
            <tr>
              <td>Bottled Water</td>
              <!-- <td>The classic refreshing drink to quench even the thirstiest earthling</td> if we have time add tool tip with item description-->
              <td>$1.50</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

            <tr>
              <td>Iced Tea</td>
              <td>$3.00</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

            <tr>
              <td>Soda</td>
              <td>$2.50</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

            <tr>
              <td>Orange Juice</td>
              <td>$2.50</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="card hoverable margin-10">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="../images/land.jpg">
      </div>
      <div class="card-content light-green accent-1">
        <span class="card-title activator grey-text text-darken-4"><strong>One if by Land</strong></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Beef and Chicken<i class="material-icons right">close</i></span>
        
        <table class="highlight">
          <tbody>
            
            <tr>
              <td>Bottled Water</td>
              <!-- <td>The classic refreshing drink to quench even the thirstiest earthling</td> if we have time add tool tip with item description-->
              <td>$1.50</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

            <tr>
              <td>Iced Tea</td>
              <td>$3.00</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

            <tr>
              <td>Soda</td>
              <td>$2.50</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

            <tr>
              <td>Orange Juice</td>
              <td>$2.50</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="card hoverable margin-10">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="../images/seafood.jpg">
      </div>
      <div class="card-content teal lighten-4">
        <span class="card-title activator grey-text text-darken-4"><strong>Two if by Sea</strong></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Seafood<i class="material-icons right">close</i></span>
        
        <table class="highlight">
          <tbody>
            
            <tr>
              <td>Bottled Water</td>
              <!-- <td>The classic refreshing drink to quench even the thirstiest earthling</td> if we have time add tool tip with item description-->
              <td>$1.50</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

            <tr>
              <td>Iced Tea</td>
              <td>$3.00</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

            <tr>
              <td>Soda</td>
              <td>$2.50</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

            <tr>
              <td>Orange Juice</td>
              <td>$2.50</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="card hoverable margin-10">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="../images/pasta.jpg">
      </div>
      <div class="card-content purple lighten-4">
        <span class="card-title activator grey-text text-darken-4"><strong>Send Noodz</strong></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Pasta<i class="material-icons right">close</i></span>
        
        <table class="highlight">
          <tbody>
            
            <tr>
              <td>Bottled Water</td>
              <!-- <td>The classic refreshing drink to quench even the thirstiest earthling</td> if we have time add tool tip with item description-->
              <td>$1.50</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

            <tr>
              <td>Iced Tea</td>
              <td>$3.00</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

            <tr>
              <td>Soda</td>
              <td>$2.50</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

            <tr>
              <td>Orange Juice</td>
              <td>$2.50</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="card hoverable margin-10">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="../images/desserts.jpg">
      </div>
      <div class="card-content pink lighten-4">
        <span class="card-title activator grey-text text-darken-4"><strong>Straight to the Waist</strong></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Desserts<i class="material-icons right">close</i></span>
        
        <table class="highlight">
          <tbody>
            
            <tr>
              <td>Bottled Water</td>
              <!-- <td>The classic refreshing drink to quench even the thirstiest earthling</td> if we have time add tool tip with item description-->
              <td>$1.50</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

            <tr>
              <td>Iced Tea</td>
              <td>$3.00</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

            <tr>
              <td>Soda</td>
              <td>$2.50</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

            <tr>
              <td>Orange Juice</td>
              <td>$2.50</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
                <label class="grey-text text-darken-4">
                  Amt
                </label>
                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
	</div>

	<div class="margin-10">
		<button id="create-order" class="btn waves-effect waves-light green accent-4" type="submit" name="action">Create Order
			<i class="material-icons right">assignment</i>
		</button>
  </div>


</main>
	
	<footer>
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo left margin-left-20"><i class="material-icons">arrow_upward</i></a>
				<ul id="nav-mobile" class="right">
					<li><a href="">About Us</a></li>
					<li><a href="">Careers</a></li>
					<li><a href="">Contact Us</a></li>
				</ul>
			</div>
		</nav>
	</footer>


	<script
    src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.1-alpha/dist/js/materialize.min.js"></script>
  <script src="./public/js/script.js"></script>
</body>
</html>