<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.1-alpha/dist/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/style.css"/>
	<title>Restaurant Express</title>
</head>

<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="./main.html" class="brand-logo left margin-left-60">Restaurant Express</a>
				<ul id="nav-mobile" class="right">
					<li><a href="../createAccount.html"><button class="btn" id="createAccount">Create Account</button></a></li>
					<li><a href="../login.html"><button class="btn" id="Login">Login</button></a></li>
				</ul>
			</div>
		</nav>
	</header>
  
	<div class="card">
        <div class="card-image">
          <img src="../../images/Planet_express.png">
          <span class="card-title">Card Title</span>
        </div>     
    </div>

	<div class="center margin-10 card-image">
		<a href="../order.html"></a>
	</div>



	<script
    src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.1-alpha/dist/js/materialize.min.js"></script>
</body>
</html>